doctype html
html(lang="en")
    head
        title Eric Rolfe's Portfolio - Nightlife!
        link(href="https://fonts.googleapis.com/css?family=Raleway|Kurale", rel="stylesheet")
        link(href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet")
        link(href="/nightlife/css/style.css", rel="stylesheet")
    body
        #wrapper
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://fb.me/react-15.1.0.min.js")
    script(src="https://fb.me/react-dom-15.1.0.min.js")
    script(src="/nightlife/js/nightlife.js")