doctype html
html(lang="en")
    head
        title Eric Rolfe's Portfolio - React Markdown Previewer Project
        link(href="/markdown/css/style.css", rel="stylesheet")
        script
            include ../../../../resources/js/gaScript.js    
    body
        #output
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js")
    script(src="https://fb.me/react-15.1.0.min.js")
    script(src="https://fb.me/react-dom-15.1.0.min.js")
    script(src="/markdown/js/markdown.js")