body {
  background-color: #000;
  color: #fff;
  font-family: Tillana, sans-serif; }

#reaction {
  width: 100%; }
  #reaction .dungeon-crawler {
    width: 1200px;
    margin: 0 auto; }
    #reaction .dungeon-crawler .player-stats,
    #reaction .dungeon-crawler .game-stats {
      line-height: 16px;
      width: 250px; }
      #reaction .dungeon-crawler .player-stats h2,
      #reaction .dungeon-crawler .game-stats h2 {
        margin-top: 16px; }
      #reaction .dungeon-crawler .player-stats p,
      #reaction .dungeon-crawler .game-stats p {
        margin-bottom: 8px; }
      #reaction .dungeon-crawler .player-stats ul,
      #reaction .dungeon-crawler .game-stats ul {
        list-style: none;
        margin: 0px;
        padding: 0; }
    #reaction .dungeon-crawler .player-stats {
      float: left; }
    #reaction .dungeon-crawler .game-stats {
      float: right; }
      #reaction .dungeon-crawler .game-stats textarea {
        width: 100%;
        height: 300px;
        font-family: Tillana, sans-serif;
        font-size: 14px;
        resize: none;
        padding: 10px;
        border: 3px solid #fff;
        border-radius: 20px;
        background-color: #000;
        color: #fff;
        overflow: hidden; }
    #reaction .dungeon-crawler .game-grid {
      font-size: 0;
      line-height: 32px;
      border: 32px solid #333;
      border-image: url("/dungeon/img/Wall_Border.png") 33 repeat;
      width: 608px;
      height: 352px;
      margin: 0 auto; }
      #reaction .dungeon-crawler .game-grid .game-row {
        height: 32px;
        padding: 0;
        margin: 0; }
        #reaction .dungeon-crawler .game-grid .game-row .game-tile {
          height: 32px;
          width: 32px;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          background-image: url("/dungeon/img/dngn_unseen.png");
          background-color: #000;
          display: inline-block; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .player {
            height: 32px;
            width: 32px;
            position: relative;
            background-image: url("/dungeon/img/short_black.png"), url("/dungeon/img/shirt_vest.png"), url("/dungeon/img/pants_black.png"), url("/dungeon/img/short_brown.png"), url("/dungeon/img/human_m.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-1,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-2,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-3,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-4,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-5,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-1,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-2,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-3,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-4,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-5,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-6,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-7,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-8,
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-9 {
              position: absolute;
              top: 0;
              left: 0;
              height: 32px;
              width: 32px; }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-1 {
              background-image: url("/dungeon/img/leather_armour2.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-2 {
              background-image: url("/dungeon/img/banded.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-3 {
              background-image: url("/dungeon/img/ringmail.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-4 {
              background-image: url("/dungeon/img/chainmail3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .armor-5 {
              background-image: url("/dungeon/img/plate.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-1 {
              background-image: url("/dungeon/img/quarterstaff3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-2 {
              background-image: url("/dungeon/img/club_slant.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-3 {
              background-image: url("/dungeon/img/dagger_slant.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-4 {
              background-image: url("/dungeon/img/whip.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-5 {
              background-image: url("/dungeon/img/sabre.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-6 {
              background-image: url("/dungeon/img/scimitar.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-7 {
              background-image: url("/dungeon/img/short_sword_slant.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-8 {
              background-image: url("/dungeon/img/long_sword_slant.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player .weapon-9 {
              background-image: url("/dungeon/img/axe.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead {
              background-image: url("/dungeon/img/bone.png"); }
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .armor-1,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .armor-2,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .armor-3,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .armor-4,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .armor-5,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-1,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-2,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-3,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-4,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-5,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-6,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-7,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-8,
              #reaction .dungeon-crawler .game-grid .game-row .game-tile .player.dead .weapon-9 {
                display: none; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.entry-0 {
            background-image: url("/dungeon/img/stone_stairs_up.png"), url("/dungeon/img/sandstone_floor0.png");
            background-color: #cc5; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.exit-0 {
            background-image: url("/dungeon/img/stone_stairs_down.png"), url("/dungeon/img/sandstone_floor0.png");
            background-color: #5c5; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-0 {
            background-image: url("/dungeon/img/sandstone_floor0.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-1 {
            background-image: url("/dungeon/img/sandstone_floor1.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-2 {
            background-image: url("/dungeon/img/sandstone_floor2.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-3 {
            background-image: url("/dungeon/img/sandstone_floor3.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-4 {
            background-image: url("/dungeon/img/sandstone_floor4.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-5 {
            background-image: url("/dungeon/img/sandstone_floor5.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-6 {
            background-image: url("/dungeon/img/sandstone_floor6.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-7 {
            background-image: url("/dungeon/img/sandstone_floor7.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-8 {
            background-image: url("/dungeon/img/sandstone_floor8.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.floor-9 {
            background-image: url("/dungeon/img/sandstone_floor9.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.fountain-0 {
            background-image: url("/dungeon/img/dngn_blue_fountain.png"), url("/dungeon/img/sandstone_floor0.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.fountain-1 {
            background-image: url("/dungeon/img/dngn_blue_fountain2.png"), url("/dungeon/img/sandstone_floor0.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.statue-0 {
            background-image: url("/dungeon/img/dngn_orcish_idol.png"), url("/dungeon/img/sandstone_floor0.png");
            background-color: #440; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0 {
            background-image: url("/dungeon/img/brick_brown_vines1.png");
            background-color: #888; }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0.banner {
              background-image: url("/dungeon/img/banner1.png"), url("/dungeon/img/brick_brown_vines1.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0.torch-0 {
              background-image: url("/dungeon/img/torch1.png"), url("/dungeon/img/brick_brown_vines1.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0.torch-1 {
              background-image: url("/dungeon/img/torch2.png"), url("/dungeon/img/brick_brown_vines1.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0.torch-2 {
              background-image: url("/dungeon/img/torch3.png"), url("/dungeon/img/brick_brown_vines1.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-0.torch-3 {
              background-image: url("/dungeon/img/torch4.png"), url("/dungeon/img/brick_brown_vines1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1 {
            background-image: url("/dungeon/img/brick_brown_vines2.png");
            background-color: #888; }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1.banner {
              background-image: url("/dungeon/img/banner1.png"), url("/dungeon/img/brick_brown_vines2.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1.torch-0 {
              background-image: url("/dungeon/img/torch1.png"), url("/dungeon/img/brick_brown_vines2.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1.torch-1 {
              background-image: url("/dungeon/img/torch2.png"), url("/dungeon/img/brick_brown_vines2.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1.torch-2 {
              background-image: url("/dungeon/img/torch3.png"), url("/dungeon/img/brick_brown_vines2.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-1.torch-3 {
              background-image: url("/dungeon/img/torch4.png"), url("/dungeon/img/brick_brown_vines2.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2 {
            background-image: url("/dungeon/img/brick_brown_vines3.png");
            background-color: #888; }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2.banner {
              background-image: url("/dungeon/img/banner1.png"), url("/dungeon/img/brick_brown_vines3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2.torch-0 {
              background-image: url("/dungeon/img/torch1.png"), url("/dungeon/img/brick_brown_vines3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2.torch-1 {
              background-image: url("/dungeon/img/torch2.png"), url("/dungeon/img/brick_brown_vines3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2.torch-2 {
              background-image: url("/dungeon/img/torch3.png"), url("/dungeon/img/brick_brown_vines3.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-2.torch-3 {
              background-image: url("/dungeon/img/torch4.png"), url("/dungeon/img/brick_brown_vines3.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3 {
            background-image: url("/dungeon/img/brick_brown_vines4.png");
            background-color: #888; }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3.banner {
              background-image: url("/dungeon/img/banner1.png"), url("/dungeon/img/brick_brown_vines4.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3.torch-0 {
              background-image: url("/dungeon/img/torch1.png"), url("/dungeon/img/brick_brown_vines4.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3.torch-1 {
              background-image: url("/dungeon/img/torch2.png"), url("/dungeon/img/brick_brown_vines4.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3.torch-2 {
              background-image: url("/dungeon/img/torch3.png"), url("/dungeon/img/brick_brown_vines4.png"); }
            #reaction .dungeon-crawler .game-grid .game-row .game-tile.wall-3.torch-3 {
              background-image: url("/dungeon/img/torch4.png"), url("/dungeon/img/brick_brown_vines4.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-boss-0,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-0,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-1,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-2,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-3,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-4,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-5,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-6,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-7,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-8,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-9,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-1,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-2,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-3,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-4,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-5,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-1,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-2,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-3,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-4,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-5,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-6,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-7,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-8,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-9,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-0,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-1,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-2,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-3,
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-4 {
            height: 32px;
            width: 32px; }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-boss-0 {
            background-image: url("/dungeon/img/dragon.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-0 {
            background-image: url("/dungeon/img/rat.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-1 {
            background-image: url("/dungeon/img/hound.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-2 {
            background-image: url("/dungeon/img/small_snake.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-3 {
            background-image: url("/dungeon/img/giant_ant.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-4 {
            background-image: url("/dungeon/img/trapdoor_spider.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-5 {
            background-image: url("/dungeon/img/scorpion.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-6 {
            background-image: url("/dungeon/img/killer_bee.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-7 {
            background-image: url("/dungeon/img/hobgoblin.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-8 {
            background-image: url("/dungeon/img/kobold.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-enemy-9 {
            background-image: url("/dungeon/img/orc_warrior.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-1 {
            background-image: url("/dungeon/img/leather_armour2.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-2 {
            background-image: url("/dungeon/img/banded_mail1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-3 {
            background-image: url("/dungeon/img/ring_mail2.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-4 {
            background-image: url("/dungeon/img/chain_mail3.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-armor-5 {
            background-image: url("/dungeon/img/plate_mail1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-1 {
            background-image: url("/dungeon/img/quarterstaff.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-2 {
            background-image: url("/dungeon/img/club.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-3 {
            background-image: url("/dungeon/img/dagger.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-4 {
            background-image: url("/dungeon/img/bullwhip.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-5 {
            background-image: url("/dungeon/img/sabre1_silver.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-6 {
            background-image: url("/dungeon/img/scimitar1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-7 {
            background-image: url("/dungeon/img/short_sword2.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-8 {
            background-image: url("/dungeon/img/long_sword1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-weapon-9 {
            background-image: url("/dungeon/img/battle_axe1.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-0 {
            background-image: url("/dungeon/img/sausage.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-1 {
            background-image: url("/dungeon/img/apple.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-2 {
            background-image: url("/dungeon/img/bread_ration.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-3 {
            background-image: url("/dungeon/img/cheese.png"); }
          #reaction .dungeon-crawler .game-grid .game-row .game-tile .item-food-4 {
            background-image: url("/dungeon/img/chunk.png"); }
