body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    .wrapper {
        width: 85vw;
        margin: 0 auto;
    
        h1 {
            a {
                color: #000;
                font-style: italic;
                text-decoration: none;
                &:hover {
                    color: #777;
                    text-decoration: underline;
                }
            }
        }
        
        code, blockquote {
            background-color: #ffe8e8;
            color: #880000;
            margin-left: 0;
            padding: 0 10px;
            
            pre {
                margin: 0;
            }
        }
        
        dl {
            margin-left: 20px;
        }
        
        dt {
            font-weight: bold;
        }
        
        dd {
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }
}