html, body {
  height: 100%;
  font-family: "Indie Flower", cursive;
  font-size: 30px; }

body {
  background-color: #eeeec9; }

p.page-header {
  font-size: 60px; }

#get-quote {
  display: block;
  margin: 0 auto; }

.quote {
  background-color: #ffffff;
  border: 1px solid #cccca9;
  border-radius: 30px;
  padding: 30px;
  width: 100%;
  margin: 20px 0 30px;
  text-align: center;
  -webkit-box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.75); }
  .quote blockquote {
    border: none;
    font-size: 45px;
    margin-bottom: 5px; }
    .quote blockquote:before {
      content: '" '; }
    .quote blockquote:after {
      content: ' "'; }
  .quote p:before {
    content: "-- "; }

#twitter-wrapper {
  display: block;
  text-align: center; }
