doctype html
html(lang="en")
    head
        title Eric Rolfe's Portfolio - Game of Life Project
        link(href="/game-of-life/css/style.css", rel="stylesheet")
    body
        #reaction
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="https://fb.me/react-15.1.0.min.js")
    script(src="https://fb.me/react-dom-15.1.0.min.js")
    script(src="/game-of-life/js/game-of-life.js")