body {
  font-family: "Play", sans-serif;
  background-color: #000033;
  transition: background-color 0.5s; }
  body button {
    border: 0;
    background-color: #000033;
    transition: background-color 0.5s; }
  body .title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0;
    color: #0000ff;
    transition: background-color 0.5s; }
  body .subtitle {
    margin-top: 0;
    color: #3333aa;
    transition: background-color 0.5s; }
  body .set-timer {
    color: #ddd; }
    body .set-timer h3 {
      font-size: 30px;
      transition: all 0.5s; }
    body .set-timer p {
      font-size: 50px;
      transition: all 0.5s;
      margin-bottom: 0; }
      body .set-timer p .timer-value {
        margin: 0 30px; }
      body .set-timer p.small-text {
        margin-top: 0;
        font-size: 20px; }
  body.activity {
    background-color: #004400; }
    body.activity button {
      background-color: #004400; }
    body.activity .title {
      color: #008800; }
    body.activity .subtitle {
      color: #226622; }
    body.activity .set-timer p {
      opacity: 0.2; }
    body.activity .set-timer.activity h3 {
      color: #ffffff; }
    body.activity .set-timer.break h3 {
      opacity: 0.2; }
  body.break {
    background-color: #440000; }
    body.break button {
      background-color: #440000; }
    body.break .title {
      color: #880000; }
    body.break .subtitle {
      color: #662222; }
    body.break .set-timer p {
      opacity: 0.2; }
    body.break .set-timer.break h3 {
      color: #ffffff; }
    body.break .set-timer.activity h3 {
      opacity: 0.2; }

.row {
  position: relative; }

.timer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5; }
