body {
    padding-top: 70px;
}

#reaction {
    nav {
        .navbar-right {
            margin-right: 0;
        }
    }
    
    .recipe {
        .panel-body {
            color: #000;
            
            h2, h3 {
                margin-top: 0;
            }
            
            .editable {
                position: relative;
                left: -4px;
                padding: 3px 5px 3px 3px;
                &:focus {
                    outline: 1px solid #ccf;
                    box-shadow: 0px 0px 2px 5px #ddf;
                }
            }
            
            span.glyphicon-pencil {
                font-size: 20px;
                cursor: pointer;
            }
            
            .instructions {
                font-style: italic;
                margin-left: 10px;
                font-size: 20px;
                color: #aaa;
                display: none;
            }
            
            .ingredient-list {
                width: 100%;
                border-radius: 5px;
                margin-bottom: 10px;
                padding: 0 5px 1px;
                font-size: 16px;
                display: none;
            }
            
            .ingredients {
                .ingredient {
                    display: inline-block;
                    border: 2px solid #aaa;
                    border-radius: 20px;
                    background-color: #e8e8e8;
                    margin-right: 5px;
                    padding: 0 10px;
                    
                    &:last-child {
                        margin-right: 0;   
                    }
                    
                    button {
                        border: none;
                        background-color: transparent;
                        padding-left: 0;
                        color: #aaa
                    }
                }
                
                &.no-remove {
                    .ingredient {
                        button {
                            display: none;
                        }
                    }
                }
            }
            
            .edit-ingredients {
                display: block;
                margin-top: 15px;
            }
        }
    }
}