body {
  background-color: #118;
  color: #ccc; }

#reaction {
  width: 100%; }
  #reaction .game-controls {
    text-align: center;
    margin: 5px 0; }
    #reaction .game-controls .spacer {
      display: inline-block;
      width: 100px; }
    #reaction .game-controls p {
      width: 200px;
      display: inline-block;
      font-size: 25px;
      margin: 0 0 0 15px; }
    #reaction .game-controls button {
      min-width: 80px;
      height: 30px;
      font-size: 20px;
      margin-left: 15px;
      margin-bottom: 10px;
      border-radius: 10px;
      border: none;
      background-color: #fff; }
      #reaction .game-controls button:first-child {
        margin-left: 0; }
      #reaction .game-controls button.active {
        background-color: #aaf; }
    #reaction .game-controls label {
      font-size: 25px;
      margin-right: 10px;
      margin-left: 25px; }
      #reaction .game-controls label:first-child {
        margin-left: 0; }
    #reaction .game-controls input[type="number"] {
      font-size: 20px;
      border-radius: 15px;
      padding-left: 10px;
      width: 50px; }
  #reaction .game-grid {
    background-color: transparent;
    line-height: 15px;
    text-align: center; }
    #reaction .game-grid .game-row {
      height: 15px; }
      #reaction .game-grid .game-row .game-cell {
        display: inline-block;
        box-sizing: border-box;
        background-color: #000;
        width: 15px;
        height: 15px;
        border-right: 1px solid #666;
        border-top: 1px solid #666; }
        #reaction .game-grid .game-row .game-cell.alive {
          background-color: #55f; }
        #reaction .game-grid .game-row .game-cell:first-child {
          width: 25px;
          border-left: 10px solid #666; }
        #reaction .game-grid .game-row .game-cell:last-child {
          width: 25px;
          border-right: 10px solid #666; }
      #reaction .game-grid .game-row:first-child {
        line-height: 25px;
        height: 25px; }
        #reaction .game-grid .game-row:first-child .game-cell {
          border-top: 10px solid #666;
          height: 25px; }
      #reaction .game-grid .game-row:last-child {
        line-height: 25px;
        height: 25px; }
        #reaction .game-grid .game-row:last-child .game-cell {
          border-bottom: 10px solid #666;
          height: 25px; }
