doctype html
html(lang="en")
    head
        title Eric Rolfe's Portfolio - D3 Bar Chart
        link(href="/bar-chart/css/style.css", rel="stylesheet")
    body
        .chart-wrapper
            .tooltip
            .title
            svg.chart
            .description
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
    script(src="/bar-chart/js/bar-chart.js")
    script
        include ../../../../resources/js/gaScript.js