extends ./base.pug

block pageTitle
    title Eric Rolfe's Portfolio - Vote! - Oops!
    
block pageContent
    .container
        h2.text-center Well, we're embarassed!
        p.text-center We're sorry, but we couldn't find what you are looking for.  You can try running a search, or choose on of the links above.