extends ./base.pug

block pageTitle
    title Eric Rolfe's Portfolio - Vote!
    
block pageContent
    .container
        h4.text-center Have a burning question you want to ask people? Put it to a
        h1.text-center Vote!
        .row
            .col-sm-4.col-xs-12
                h2.text-center Answer Current Polls
                p.
                    Browse through the polls on the site, and answer as many as you like.
                    You can search for a poll, take a look at the most popular polls, or
                    have a random poll selected for you.  If you login with Facebook or
                    Twitter, you will be able to add your own custom answers to any poll
                    where you don't think the choices are good enough.
            .col-sm-4.col-xs-12
                h2.text-center Create Your Own Polls
                p.
                    When you login with either Facebook or Twitter, you will have the
                    ability to create your own polls! Find out how the Internet feels
                    about any topic by creating a question and as many responses as you
                    like.  View the responses to your poll in an easy to read graph, and when
                    you've found the results you need, you can delete polls you don't need anymore.
            .col-sm-4.col-xs-12
                h2.text-center Share Your Polls
                p.
                    After you've created your poll, you can share it with your friends and family
                    by posting the poll on Facebook or Twitter. You can also copy the poll link,
                    and send it to anyone you want. Find out where your coworkers would like to
                    order lunch. Ask about the best weekend to plan your family reunion. See what
                    everyone thinks of the baby names you've come up with. It's up to you!