extends ./base.pug

block pageTitle
    title Eric Rolfe's Portfolio - Vote! - Top 10 Polls
    
block top10Active
    li.active: a(href="/vote/polls/top") Top 10

block pageContent
    .container
        h2.text-center Top 10 Polls
        p.text-center (of polls that have responses)
        .row
            .col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0#top-polls
        p.text-center.loading
            img(src="/vote/img/loading.gif", width="32")
            |  Loading...
