doctype html
html(lang="en")
    head
        title Eric Rolfe's Project - Random Quote Project
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="/random-quote/css/style.css")
    body
        .container.main
            p.text-center.page-header A Random Quote Just for You
            button#get-quote Get a New Quote
            .quote
                blockquote
                p
            #twitter-wrapper
                
                
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src="/random-quote/js/random-quote.js")
    script.
        window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
         
          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };
         
          return t;
        }(document, "script", "twitter-wjs"));
