body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center; }

h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 4px; }

h2 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 4px; }

p {
  font-size: 20px;
  font-weight: bold; }

.link {
  stroke: #888;
  stroke-width: 1px; }

.flag-ad {
  clip-path: url("#flag-clip");
  x: -25px;
  y: 0; }

.flag-ae {
  clip-path: url("#flag-clip");
  x: -50px;
  y: 0; }

.flag-af {
  clip-path: url("#flag-clip");
  x: -75px;
  y: 0; }

.flag-ag {
  clip-path: url("#flag-clip");
  x: -100px;
  y: 0; }

.flag-ai {
  clip-path: url("#flag-clip");
  x: -125px;
  y: 0; }

.flag-al {
  clip-path: url("#flag-clip");
  x: -150px;
  y: 0; }

.flag-am {
  clip-path: url("#flag-clip");
  x: -175px;
  y: 0; }

.flag-an {
  clip-path: url("#flag-clip");
  x: -200px;
  y: 0; }

.flag-ao {
  clip-path: url("#flag-clip");
  x: -225px;
  y: 0; }

.flag-ar {
  clip-path: url("#flag-clip");
  x: -250px;
  y: 0; }

.flag-as {
  clip-path: url("#flag-clip");
  x: -275px;
  y: 0; }

.flag-at {
  clip-path: url("#flag-clip");
  x: -300px;
  y: 0; }

.flag-au {
  clip-path: url("#flag-clip");
  x: -325px;
  y: 0; }

.flag-aw {
  clip-path: url("#flag-clip");
  x: -350px;
  y: 0; }

.flag-az {
  clip-path: url("#flag-clip");
  x: -375px;
  y: 0; }

.flag-ba {
  clip-path: url("#flag-clip");
  x: 0;
  y: -15px; }

.flag-bb {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -15px; }

.flag-bd {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -15px; }

.flag-be {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -15px; }

.flag-bf {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -15px; }

.flag-bg {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -15px; }

.flag-bh {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -15px; }

.flag-bi {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -15px; }

.flag-bj {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -15px; }

.flag-bm {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -15px; }

.flag-bn {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -15px; }

.flag-bo {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -15px; }

.flag-br {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -15px; }

.flag-bs {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -15px; }

.flag-bt {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -15px; }

.flag-bv {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -15px; }

.flag-bw {
  clip-path: url("#flag-clip");
  x: 0;
  y: -30px; }

.flag-by {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -30px; }

.flag-bz {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -30px; }

.flag-ca {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -30px; }

.flag-cd {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -30px; }

.flag-cf {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -30px; }

.flag-cg {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -30px; }

.flag-ch {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -30px; }

.flag-ci {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -30px; }

.flag-ck {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -30px; }

.flag-cl {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -30px; }

.flag-cm {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -30px; }

.flag-cn {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -30px; }

.flag-co {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -30px; }

.flag-cr {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -30px; }

.flag-cu {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -30px; }

.flag-cv {
  clip-path: url("#flag-clip");
  x: 0;
  y: -45px; }

.flag-cy {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -45px; }

.flag-cz {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -45px; }

.flag-de {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -45px; }

.flag-dj {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -45px; }

.flag-dk {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -45px; }

.flag-dm {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -45px; }

.flag-do {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -45px; }

.flag-dz {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -45px; }

.flag-ec {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -45px; }

.flag-ee {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -45px; }

.flag-eg {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -45px; }

.flag-eh {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -45px; }

.flag-er {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -45px; }

.flag-es {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -45px; }

.flag-et {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -45px; }

.flag-eu {
  clip-path: url("#flag-clip");
  x: 0;
  y: -60px; }

.flag-fi {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -60px; }

.flag-fj {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -60px; }

.flag-fk {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -60px; }

.flag-fm {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -60px; }

.flag-fo {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -60px; }

.flag-fr {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -60px; }

.flag-ga {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -60px; }

.flag-gb {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -60px; }

.flag-gd {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -60px; }

.flag-ge {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -60px; }

.flag-gf {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -60px; }

.flag-gg {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -60px; }

.flag-gh {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -60px; }

.flag-gi {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -60px; }

.flag-gl {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -60px; }

.flag-gm {
  clip-path: url("#flag-clip");
  x: 0;
  y: -75px; }

.flag-gn {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -75px; }

.flag-gp {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -75px; }

.flag-gq {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -75px; }

.flag-gr {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -75px; }

.flag-gs {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -75px; }

.flag-gt {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -75px; }

.flag-gu {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -75px; }

.flag-gw {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -75px; }

.flag-gy {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -75px; }

.flag-hk {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -75px; }

.flag-hm {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -75px; }

.flag-hn {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -75px; }

.flag-hr {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -75px; }

.flag-ht {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -75px; }

.flag-hu {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -75px; }

.flag-id {
  clip-path: url("#flag-clip");
  x: 0;
  y: -90px; }

.flag-ie {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -90px; }

.flag-il {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -90px; }

.flag-in {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -90px; }

.flag-io {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -90px; }

.flag-iq {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -90px; }

.flag-ir {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -90px; }

.flag-is {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -90px; }

.flag-it {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -90px; }

.flag-je {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -90px; }

.flag-jm {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -90px; }

.flag-jo {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -90px; }

.flag-jp {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -90px; }

.flag-ke {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -90px; }

.flag-kg {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -90px; }

.flag-kh {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -90px; }

.flag-ki {
  clip-path: url("#flag-clip");
  x: 0;
  y: -105px; }

.flag-km {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -105px; }

.flag-kn {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -105px; }

.flag-kp {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -105px; }

.flag-kr {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -105px; }

.flag-kw {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -105px; }

.flag-ky {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -105px; }

.flag-kz {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -105px; }

.flag-la {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -105px; }

.flag-lb {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -105px; }

.flag-lc {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -105px; }

.flag-li {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -105px; }

.flag-lk {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -105px; }

.flag-lr {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -105px; }

.flag-ls {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -105px; }

.flag-lt {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -105px; }

.flag-lu {
  clip-path: url("#flag-clip");
  x: 0;
  y: -120px; }

.flag-lv {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -120px; }

.flag-ly {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -120px; }

.flag-ma {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -120px; }

.flag-mc {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -120px; }

.flag-md {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -120px; }

.flag-me {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -120px; }

.flag-mg {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -120px; }

.flag-mh {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -120px; }

.flag-mk {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -120px; }

.flag-ml {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -120px; }

.flag-mm {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -120px; }

.flag-mn {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -120px; }

.flag-mo {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -120px; }

.flag-mp {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -120px; }

.flag-mq {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -120px; }

.flag-mr {
  clip-path: url("#flag-clip");
  x: 0;
  y: -135px; }

.flag-ms {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -135px; }

.flag-mt {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -135px; }

.flag-mu {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -135px; }

.flag-mv {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -135px; }

.flag-mw {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -135px; }

.flag-mx {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -135px; }

.flag-my {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -135px; }

.flag-mz {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -135px; }

.flag-na {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -135px; }

.flag-nc {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -135px; }

.flag-ne {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -135px; }

.flag-nf {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -135px; }

.flag-ng {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -135px; }

.flag-ni {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -135px; }

.flag-nl {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -135px; }

.flag-no {
  clip-path: url("#flag-clip");
  x: 0;
  y: -150px; }

.flag-np {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -150px; }

.flag-nr {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -150px; }

.flag-nu {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -150px; }

.flag-nz {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -150px; }

.flag-om {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -150px; }

.flag-pa {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -150px; }

.flag-pe {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -150px; }

.flag-pf {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -150px; }

.flag-pg {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -150px; }

.flag-ph {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -150px; }

.flag-pk {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -150px; }

.flag-pl {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -150px; }

.flag-pm {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -150px; }

.flag-pn {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -150px; }

.flag-pr {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -150px; }

.flag-ps {
  clip-path: url("#flag-clip");
  x: 0;
  y: -165px; }

.flag-pt {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -165px; }

.flag-pw {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -165px; }

.flag-py {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -165px; }

.flag-qa {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -165px; }

.flag-re {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -165px; }

.flag-ro {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -165px; }

.flag-rs {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -165px; }

.flag-ru {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -165px; }

.flag-rw {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -165px; }

.flag-sa {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -165px; }

.flag-sb {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -165px; }

.flag-sc {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -165px; }

.flag-sd {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -165px; }

.flag-se {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -165px; }

.flag-sg {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -165px; }

.flag-sh {
  clip-path: url("#flag-clip");
  x: 0;
  y: -180px; }

.flag-si {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -180px; }

.flag-sk {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -180px; }

.flag-sl {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -180px; }

.flag-sm {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -180px; }

.flag-sn {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -180px; }

.flag-so {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -180px; }

.flag-sr {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -180px; }

.flag-st {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -180px; }

.flag-sv {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -180px; }

.flag-sy {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -180px; }

.flag-sz {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -180px; }

.flag-tc {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -180px; }

.flag-td {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -180px; }

.flag-tf {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -180px; }

.flag-tg {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -180px; }

.flag-th {
  clip-path: url("#flag-clip");
  x: 0;
  y: -195px; }

.flag-tj {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -195px; }

.flag-tk {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -195px; }

.flag-tl {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -195px; }

.flag-tm {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -195px; }

.flag-tn {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -195px; }

.flag-to {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -195px; }

.flag-tr {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -195px; }

.flag-tt {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -195px; }

.flag-tv {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -195px; }

.flag-tw {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -195px; }

.flag-tz {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -195px; }

.flag-ua {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -195px; }

.flag-ug {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -195px; }

.flag-um {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -195px; }

.flag-us {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -195px; }

.flag-uy {
  clip-path: url("#flag-clip");
  x: 0;
  y: -210px; }

.flag-uz {
  clip-path: url("#flag-clip");
  x: -25px;
  y: -210px; }

.flag-va {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -210px; }

.flag-vc {
  clip-path: url("#flag-clip");
  x: -75px;
  y: -210px; }

.flag-ve {
  clip-path: url("#flag-clip");
  x: -100px;
  y: -210px; }

.flag-vg {
  clip-path: url("#flag-clip");
  x: -125px;
  y: -210px; }

.flag-vi {
  clip-path: url("#flag-clip");
  x: -150px;
  y: -210px; }

.flag-vn {
  clip-path: url("#flag-clip");
  x: -175px;
  y: -210px; }

.flag-vu {
  clip-path: url("#flag-clip");
  x: -200px;
  y: -210px; }

.flag-wf {
  clip-path: url("#flag-clip");
  x: -225px;
  y: -210px; }

.flag-ws {
  clip-path: url("#flag-clip");
  x: -250px;
  y: -210px; }

.flag-xk {
  clip-path: url("#flag-clip");
  x: -50px;
  y: -180px; }

.flag-ye {
  clip-path: url("#flag-clip");
  x: -275px;
  y: -210px; }

.flag-yt {
  clip-path: url("#flag-clip");
  x: -300px;
  y: -210px; }

.flag-za {
  clip-path: url("#flag-clip");
  x: -325px;
  y: -210px; }

.flag-zm {
  clip-path: url("#flag-clip");
  x: -350px;
  y: -210px; }

.flag-zw {
  clip-path: url("#flag-clip");
  x: -375px;
  y: -210px; }
